body {
    background-color: rgb(255, 228, 205);
}

h1 {
    color: rgb(60, 22, 22);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#boton {
    border-radius: 10%;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%);
}

#image {
    border-radius: 15%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }